[submodule "wp-plugins/query-monitor-extended"]
	path = wp-plugins/query-monitor-extended
	url = https://github.com/crstauf/query-monitor-extend
[submodule "wp-plugins/pi-for-wc"]
	path = wp-plugins/pi-for-wc
	url = https://github.com/lukecav/performance-improvements-for-woocommerce
[submodule "wp-plugins/woo-preview-emails"]
	path = wp-plugins/woo-preview-emails
	url = https://github.com/digamber89/woocommerce-preview-emails
[submodule "wp-plugins/user-switching"]
	path = wp-plugins/user-switching
	url = https://github.com/johnbillion/user-switching
